.row {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  font-size: var(--font-size-sm);
  padding: var(--space-sm) var(--space-md);
}

.row-primary {
  border: 1.5px solid var(--background-tertiary);
}

.row-secondary {
  border: 1.5px solid var(--background-secondary);
}