<div class="field-container">
  <label *ngIf="label" class="field-label">{{ label }}</label>
  <div class="select-wrapper">
    <select 
      [ngModel]="value" 
      (ngModelChange)="valueChange.emit($event)" 
      class="custom-select"
    >
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <span class="chevron">
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1.5L6 6.5L11 1.5" stroke="var(--text-secondary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
  </div>
</div>