<div class="table-wrapper">
  <table class="holdings-table">
    <thead>
      <tr>
        <th 
          *ngFor="let col of columns"
          [style.text-align]="col.align || 'center'"
          [style.padding-left]="col.paddingX"
          [style.padding-right]="col.paddingX">
          {{ col.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data" class="table-row">
        <td 
          *ngFor="let col of columns"
          [class.mono-cell]="col.isMonospace"
          [style.text-align]="col.align || 'center'"
          [style.padding-left]="col.paddingX"
          [style.padding-right]="col.paddingX">
          
          <!-- Render custom cell template if provided, else fallback to raw key value -->
          <ng-container *ngIf="cellTemplate; else defaultCell">
            <ng-container *ngTemplateOutlet="cellTemplate; context: { $implicit: row, column: col }"></ng-container>
          </ng-container>
            <ng-template #defaultCell>
              {{ getCellValue(row, col.key) }}
            </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>